<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video call Broadcast</title>
    <link rel="stylesheet" href="style.css" defer>
</head>
<body>
    <div id="video-grid">
        <!-- <h1 id="video">hi there </h1> -->
        <!-- <button>Video On/Off</button> -->
    </div>
    <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script >
     const ROOM_ID= "<%=roomId%>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="script.js" defer></script>
</body>
</html>